SPREADSHEET_ID=1-AIYffuG3Dpqtct6wMTRChTIIsWwXcRX2QBp42oF77c
VOCAB_SHEET_NAME=シート1
NATIVE_NUMBER_SHEET_NAME=固有数詞
SINO_NUMBER_SHEET_NAME=漢数詞
MISTAKE_SHEET_NAME=間違えた単語
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
